:root {
    --main--color: #FF9800;
}
*{
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    width: 1170px;
    padding: 0 15px ;
    margin: auto;
}
.clearfix {
    clear: both;
}
a{
    text-decoration: none;
}
/* Start Settings Box */
.settings-box {
    position: fixed;
    left: -200px;
    top: 0;
    background: #FFF;
    width: 200px;
    z-index: 1000;
    min-height: 100vh;
    transition: .3s;
    border: 2px solid var(--main--color);
}
.settings-box.open {
    left: 0;
}
.settings-box .toggle-settings {
    position: absolute;
    right: -30px;
    top: 100px;
    background: var(--main--color);
    text-align: center;
    cursor: pointer;
}
.settings-box .fa-cog {
    width: 30px;
    padding: 8px 0;
}
.settings-box .option-box {
    padding: 10px;
    text-align: center;
    background-color: #EEE;
    margin: 10px;

}
.settings-box  .option-box h4 {
    margin: 0;
    color: #666;
    font-size: 14px;
}
.settings-box  .option-box .color-list {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 10px 0 0;
}
.settings-box  .option-box .color-list li {
    width: 24px;
    height: 24px;
    background: #000;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid #EEE;
    display: inline-block;
}
.settings-box  .option-box .color-list li.active {
    border-color: #FFF ;
}
.settings-box  .option-box .color-list li:first-child {
    background-color: #FF9800;
}
.settings-box  .option-box .color-list li:nth-child(2) {
    background-color: #E91E63;
}
.settings-box  .option-box .color-list li:nth-child(3) {
    background-color: #009688;
}
.settings-box  .option-box .color-list li:nth-child(4) {
    background-color: #03A9F4;
}
.settings-box  .option-box .color-list li:last-child {
    background-color: #4CAF50;
}
.settings-box  .option-box .yes,
.settings-box  .option-box .no {
    width:50px;
    background-color: var(--main--color);
    color: #FFF;
    margin-top: 10px;
    display: inline-block;
    font-size: 12px;
    padding: 3px 10px ;
    font-weight: bold;
    border-radius: 4px;
    opacity: .5;
    cursor: pointer;
}
.settings-box .option-box span.active {
    opacity: 1;
}
.settings-box .reset-options {
    background-color: #F44336;
    border: none;
    width: 178px;
    color: #FFF;
    margin: 10px auto;
    display: block;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
}
/* End Settings Box */

/* Start Nav Bullets */
.nav-bullets {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    z-index: 1001;
}
.nav-bullets .bullet {
    width: 20px;
    height: 20px;
    border: 3px solid var(--main--color);
    margin: 23px auto;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    text-align: center;
}
.nav-bullets .bullet .tooltip{
    background: var(--main--color);
    width: 120px;
    color: #FFF;
    padding: 8px 10px;
    position: absolute;
    right: 34px;
    top: -10px;
    text-align: center;
    cursor: default;
    pointer-events: none;
    display: none;
}
.nav-bullets .bullet:hover .tooltip {
    display: block;
}
.nav-bullets .bullet .tooltip:before {
    content: "";
    border-style: solid;
    border-width: 9px;
    height: 0;
    width: 0;
    position: absolute;
    border-color: transparent transparent transparent var(--main--color);
    right: -18px;
}
/* Start Nav Bullets */

/* Start Landin Page */
.landing-page {
    min-height: 100vh;
    background-image: url("../images/p1.png");
    background-size: cover;
    position: relative;
}
.landing-page .overlay {
    background-color: rgb(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.landing-page .container {
    position: relative;
    z-index: 1000;
}
.landing-page .header-area {
    position: relative;
    z-index: 2;
    color: #FFF;
    display: flex;
    padding: 10px;
}
.header-area .logo {
    padding: 7px 6px;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #fff;
    margin-bottom: 14px;
    font-family: 'Nunito', sans-serif;
}
.header-area .link-container {
    width: 100%;
    text-align: right;
}
.header-area .links {
    list-style: none;
    padding-left: 0;
}
.header-area .links li {
    display: inline-block;
    margin-left: 10px;
}
.landing-page .header-area .links li a {
    text-decoration: none;
    color: #FFF;
    transition: .3s;
}
.landing-page .header-area .links li a:hover,
.landing-page .header-area .links li a.active {
    color: var(--main--color);
}
.header-area .toggle-menu {
    background: none;
    border: none;
    width: 40px;
    cursor: pointer;
    margin-top: 15px;
    display: none;
    position: relative;
}
.header-area .toggle-menu span {
    display: block;
    width: 100%;
    background-color: #FFF;
    height: 4px;
    margin-bottom: 4px;
}
.header-area .toggle-menu.menu-active:before {
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #FFF transparent;
    position: absolute;
    bottom: -15px;
    left: 10px;

}
.header-area .toggle-menu:focus{
    outline: none;
}
.landing-page .introduction-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #FFF;
    text-align: center;
    width: 95%;
}
.landing-page .introduction-text h1 {
    font-size: 59px;
    margin: 0 0 12px;
    font-family: 'Nunito', sans-serif;
}
@media (max-width: 575px){
    .introduction-text h1 {
        font-size: 26px;
    }
}
.landing-page .introduction-text h1 span {
    color: var(--main--color);
}
.landing-page .introduction-text P {
    line-height: 1.7;
    font-size: 53px;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}
@media (max-width: 991px) {
    .header-area .links {
        display: none;
    }
    .header-area .links.open {
        background-color: #FFF;
        padding: 10px;
        display: block;
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        border-radius: 4px;
        text-align: left;
    }
    .header-area .links.open li a {
        color: var(--main--color);
        font-weight: bold;
    }
    .header-area .links.open li{
        display: block;
        margin: 10px;
    }
    .header-area .toggle-menu {
        display: inline-block;
    }
}
/* End Landin Page */
/* Start About US */
.about-us {
    padding: 50px 0;
    display: flex;
}
@media (max-width: 767px){
    .about-us {
        display: block;
        text-align: center;
    }
}
.about-us .info-box {
    flex: 1;
    padding: 30px;
}
@media (max-width: 767px) {
    .about-us .info-box {
    padding: 0;
    }
}
.about-us .info-box h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    margin: 0 0 10px;
}
.about-us .info-box p {
    line-height: 1.8;
    color: #767676;
    margin-bottom: 15px;
}
.about-us .image-box {
    flex: 1;
    text-align: center;
}
.about-us .image-box img {
    width: 322px;
}
/* End About US */
/* Start Our Skills */
.skills {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EEE;
}
.skills h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    margin: 0 0 50px;
    text-align: center;
}
.skills .skill-box {
    background-color: #FFF;
    display: flex;
    padding: 15px;
    margin-top: 15px;
}
@media (max-width: 767px) {
    .skills .skill-box {
        display: block;
    }
}
.skills .skill-box .name {
    font-weight: bold;
    width: 140px;
    text-align: center;
    line-height: 30px;
}
@media (max-width: 767px) {
    .skills .skill-box .name {
        width: 100%;
        margin-bottom: 10px;
    }
}
.skills .skill-box .skill-progress {
    height: 30px;
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}
.skills .skill-box .skill-progress span {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--main--color);
    transition: all .5s;
    color: #FFF;
    text-align: center;
    border-radius: 0 6px 6px 0;
}
/* End Our Skills */
/* Start Gallery */
.gallery {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.gallery h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    margin: 0 0 50px;
    text-align: center;
}
.gallery .images-box {
    text-align: center;

}
.gallery .images-box img {
    width: 200px;
    padding: 3px;
    background-color: #F6F6F6;
    border: 1px solid #CCC;
    margin: 5px;
    cursor: pointer;
}
.popup-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.popup-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 15px;
    z-index: 1001;
}
.popup-box h3 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    text-align: center;
    margin: 0 0 20px;
}
.popup-box img {
    max-width: 100%;
}
.close-button {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--main--color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #FFF;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, Tahoma;
}
/* End Gallery */
/* Start Timeline */
.timeline {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EEE;
}
.timeline .timeline-content {
    position: relative;
    overflow: hidden;
}
.timeline .timeline-content:before {
    content: "";
    width: 2px;
    height: 100%;
    background-color: var(--main--color);
    position: absolute;
    left:50%;
    margin-left: -1px;
}
.timeline .timeline-content .year {
    margin: 20px auto;
    width: 50px;
    background-color: var(--main--color);
    color: #FFF;
    position: relative;
    z-index: 2;
    border-radius: 4px;
    text-align: center;
    padding: 2px 5px;
    font-weight: bold;
}
.timeline .timeline-content .left,
.timeline .timeline-content .right {
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;
}
@media (max-width: 767px){
    .timeline .timeline-content .left,
    .timeline .timeline-content .right {
        width: 100%;
        margin-bottom: 20px;
    }
}
.timeline .timeline-content .left {
    float: left;
}
.timeline .timeline-content .left:before {
    right: -35px;
}
.timeline .timeline-content .right {
    float: right;
}
.timeline .timeline-content .right:before {
    left: -35px;
}
.timeline .timeline-content .right:before,
.timeline .timeline-content .left:before {
    content: "";
    width: 14px;
    height: 14px;
    background-color: #FFF;
    border: 3px solid var(--main--color);
    position: absolute;
    border-radius: 50%;
    top: 20px;
}
@media (max-width: 767px) {
    .timeline .timeline-content .left:before,
    .timeline .timeline-content .right:before {
        display: none;
    }
    .timeline .timeline-content .content:before,
    .timeline .timeline-content .content:before {
        display: none;
    }
}

.timeline .timeline-content .content {
    padding: 20px;
    background-color: #FFF;
}
.timeline .timeline-content .content h3 {
    font-weight: bold;
    color: var(--main--color);
    margin: 5px 0 10px;
    font-size: 25px;
}
.timeline .timeline-content .content p {
    margin: 0;
    color: #767676;
    line-height: 1.6;
}
.timeline .timeline-content .left .content:before {
    border-color: transparent transparent transparent #FFF;
    right: -20px;
}
.timeline .timeline-content .right .content:before {
    border-color: transparent #FFF transparent transparent;
    left: -20px;

}
.timeline .timeline-content .right .content:before,
.timeline .timeline-content .left .content:before {
    content: "";
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    position: absolute;
    top: 20px;
}
/* End Timeline */
/* Start Features */
.features {
    padding:80px 0;
}
.features h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    margin: 0 0 60px;
    text-align: center;
}
.features .feat-box {
    width: calc(100% / 3);
    float: left;
    text-align: center;
    margin-bottom: 40px;
}
@media (max-width: 991px){
    .features .feat-box {
        width: calc(100% / 2);
    }
}
@media (max-width: 575px){
    .features .feat-box {
        width: 100%;
    }
}
.features .feat-box img {
    width: 96px;
}
.features .feat-box h4 {
    font-size: 22px;
    margin: 15px 0 40px;
    position: relative;
}
.features .feat-box h4:before  {
    content: "";
    width: 40px;
    height: 4px;
    background-color: var(--main--color);
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: -22px;
}
.features .feat-box p {
    margin: 0 auto;
    width: 80%;
    line-height: 1.7;
    color:#706F6F;
}
/* End Features */
/* Start Resume */
.resume{
    background-color: #EEE;
    padding-top: 50px;
    padding-bottom: 70px;
    text-align: center;
}
.resume h2{
    text-transform: uppercase;
    font-weight: bold;
}
.resume p {
    padding: 0 80px;
    color: #666;
    margin-bottom: 50px;
}
.resume .download-resume{
    margin-top: 10px;
    background: none;
    color: var(--main--color);
    border: 2px solid var(--main--color);
    font-size: 20px;
    padding: 10px 30px;
}
.resume .download-resume:hover{
    background: var(--main--color);
    font-weight: bold;
    color: #f2f2f2;
    border: none;
}
/* End Resume */
/* Start Testimonials */
.testimonials {
    position: relative;
    padding: 80px 0;
}
.testimonials:before {
    content: '';
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main--color);
    height: 100%;
}
.testimonials:after {
    content: '';
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #333;
    height: 100%;
}
.testimonials h2 {
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
    margin: 0 0 60px;
    text-align: left;
    position: relative;
    z-index: 2;
}
@media (max-width: 767px) {
    .testimonials h2 {
        text-align: center;
    }
}
.testimonials .ts-box {
    position: relative;
    z-index: 2;
    width: calc(98% / 3);
    float: left;
    background-color: #FFF;
    padding: 20px;
}
@media (max-width: 767px) {
    .testimonials .ts-box {
        width: 100%;
        float: none;
        margin-bottom: 10px;
    }
}
.testimonials .ts-box:not(:last-of-type) {
    margin-right: 1%;
}
.testimonials .ts-box > p {
    margin: 0 0 20px;
    line-height: 1.5;
    font-size: 18px;
    color: #676767;
    font-style: italic;
}
.testimonials .ts-box .person-info {
    overflow: hidden;
}
@media (max-width: 991px) {
    .testimonials .ts-box .person-info {
        text-align: center;
        overflow: visible;
    }
}
.testimonials .ts-box .person-info img {
    float: left;
    border-radius: 50%;
    margin-right: 20px;
}
@media (max-width: 991px) {
    .testimonials .ts-box .person-info img {
        float: none;
        margin-right: 0;
    }
}
.testimonials .ts-box .person-info h4 {
    margin: 14px 0 5px;
}
.testimonials .ts-box .person-info p {
    color: #676767;
    margin: 0;
}
/* End Testimonials */
/* Start Contact MY */
.contact-my {
    padding: 33px;
    text-align: center;
    background: #8c8c95;
    font-size: 26px;
}
.contact-my p a{
    text-decoration: none;
    color: #FF9800;
}
.contact {
    min-height: 600px;
    background-image: url("../images/contact.png");
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}
.contact .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 250, 250, 0.6);
}
.contact .container {
    position: relative;
    z-index: 2;
}
.contact h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    margin: 0 0 60px;
    text-align: center;
}
.contact form {
    overflow: hidden;
    max-width: 800px;
    margin: auto;
}
.contact form .left {
    float: left;
    width: 49%;
}
.contact form .right {
    float: right;
    width: 49%;
}
@media (max-width: 767px) {
    .contact form .right,
    .contact form .left {
        float: none;
        width: 100%;
    }
}
.contact form input:not([type="submit"]),
.contact form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #CCC;
    background-color: rgba(162 146 146 / 19%);
}
.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
    outline: 1px solid var(--main--color);
}
.contact form input {
    height: 40px;
}
.contact form textarea {
    height: 150px;
}
.contact form input[type="submit"] {
    padding: 10px;
    width: 100%;
    border-color: transparent;
    background-color: var(--main--color);
    color: #FFF;
}
.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder {
    opacity: 0;
    transition: .3s;
}
.contact form textarea:focus::-ms-input-placeholder,
.contact form input:not([type="submit"]):focus::-ms-input-placeholder {
    opacity: 0;
    transition: .3s;
}
.contact form textarea:focus::placeholder,
.contact form input:not([type="submit"]):focus::placeholder {
    opacity: 0;
    transition: .3s;
}
/* End Cintact US */
/* Start Footer */
.footer {
    background-color: #333;
    color: #FFF;
    padding: 20px;
    text-align: center;
    font-size: 17px;
}
/* End Footer */
/* Start Grid System */
@media (min-width: 567px) { /* Smale Devices => Phone */
    .container {
        max-width: 540px;
    }
    .contact-my{
        font-size: 18px;
    }
}
@media (min-width: 768px) { /* medium Devices => Tablets */
    .container {
        max-width: 720px;
    }
    .contact-my{
        font-size: 18px;
    }
}
@media (min-width: 992px) { /* Desktops */
    .container {
        max-width: 960px;
    }
    .contact-my{
        font-size: 26px;
    }
}
@media (min-width: 1200px) { /* Large Screens */
    .container {
        max-width: 1140px;
    }
    .contact-my{
        font-size: 26px;
    }
}
/* Start Grid System */