:root {
    --main--color: #FF9800;
}
*{
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    width: 1170px;
    padding: 0 15px ;
    margin: auto;
}
.containers {
    width: 90%;
    padding: 0 15px ;
    margin: auto;
}
.clearfix {
    clear: both;
}
a{
    text-decoration: none;
}
.wrappar{
    padding-top: 100px;
    padding-bottom: 100px;
}
.flex{
    display: flex;
}

.main-header span{
    width: auto;
    padding: 0 10px 4px;
    color: var(--main--color);
    position: relative;
    font-size: 60px;
}

.main-header span::before{
    content: '';
    width: 100px;
    margin: auto;
    height: 5px;
    display: block;
    background-color: var(--main--color);
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Start Top Nav */

.top_nav{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 75px;
    z-index: 10;
    color: #FFF;
    padding: 10px;
}

.top_nav.top_home .header-area .logo{
    color: #fff;
}
.top_nav.top_home .header-area .toggle-menue .menu-btn__burger::after,
.top_nav.top_home .header-area .toggle-menue .menu-btn__burger::before,
.top_nav.top_home .header-area .toggle-menue .menu-btn__burger{
    background-color: #fff;
}

.top_nav .header-area{
    position: relative;
    z-index: 2;
    color: #000;
    display: flex;
    padding: 10px;
}

.top_nav .link-containers{
    margin-top: 10px;
}

.top_nav .header-area .logo {
    padding: 19px 6px;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 14px;
    font-family: 'Nunito', sans-serif;
    width: 100%;
    color: var(--main--color);
}
.top_nav.open .header-area .logo {
    color: #f2f2f2;
}
.top_nav .header-area .toggle-menue {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.top_nav .header-area .toggle-menue .menu-btn__burger {
    width: 42px;
    height: 4px;
    background: var(--main--color);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}


.top_nav .header-area .toggle-menue .menu-btn__burger::before,
.top_nav .header-area .toggle-menue .menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 42px;
  height: 4px;
  background: var(--main--color);
  border-radius: 5px;
  transition: all .5s ease-in-out;
  margin-top: -4px;
}
.top_nav .header-area .toggle-menue .menu-btn__burger::before{
    margin-top: 4px;
}

.top_nav .header-area .toggle-menue .menu-btn__burger::after {
    transform: translateY(16px);
}

.top_nav .header-area .toggle-menue .menu-btn__burger::before {
    transform: translateY(-16px);
}

.top_nav .header-area .toggle-menue.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.top_nav .header-area .toggle-menue.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(30px, -35px);
}
.top_nav .header-area .toggle-menue.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(28px, 35px);
}

.top_nav.open .header-area .toggle-menue .menu-btn__burger::before,
.top_nav.open .header-area .toggle-menue .menu-btn__burger::after{
    background-color: #f2f2f2;
}
.men{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: none;
}
.men .top-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--main--color);
    z-index: 10;
    opacity: .9;
}
.men .link{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 12;
    list-style-type: none;
    text-align: center;
}
.men .link li a{
    font-size: 55px;
    margin-bottom: 12px;
    color: #fff;
    opacity: 0.4;
}
.men .link li a:hover{
    opacity: 1;
    color: #f2f2f2;
}
/* End Top Nav */
/* Start Settings Box */
.settings-box {
    position: fixed;
    left: -200px;
    top: 0;
    background: #FFF;
    width: 200px;
    z-index: 1000;
    min-height: 100vh;
    transition: .3s;
    border: 2px solid var(--main--color);
}
.settings-box.open {
    left: 0;
}
.settings-box .toggle-settings {
    position: absolute;
    right: -30px;
    top: 100px;
    background: var(--main--color);
    text-align: center;
    cursor: pointer;
}
.settings-box .fa-cog {
    width: 30px;
    padding: 8px 0;
}
.settings-box .option-box {
    padding: 10px;
    text-align: center;
    background-color: #EEE;
    margin: 10px;

}
.settings-box  .option-box h4 {
    margin: 0;
    color: #666;
    font-size: 14px;
}
.settings-box  .option-box .color-list {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 10px 0 0;
}
.settings-box  .option-box .color-list li {
    width: 24px;
    height: 24px;
    background: #000;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid #EEE;
    display: inline-block;
}
.settings-box  .option-box .color-list li.active {
    border-color: #FFF ;
}
.settings-box  .option-box .color-list li:first-child {
    background-color: #FF9800;
}
.settings-box  .option-box .color-list li:nth-child(2) {
    background-color: #E91E63;
}
.settings-box  .option-box .color-list li:nth-child(3) {
    background-color: #009688;
}
.settings-box  .option-box .color-list li:nth-child(4) {
    background-color: #03A9F4;
}
.settings-box  .option-box .color-list li:last-child {
    background-color: #4CAF50;
}
.settings-box  .option-box .yes,
.settings-box  .option-box .no {
    width:50px;
    background-color: var(--main--color);
    color: #FFF;
    margin-top: 10px;
    display: inline-block;
    font-size: 12px;
    padding: 3px 10px ;
    font-weight: bold;
    border-radius: 4px;
    opacity: .5;
    cursor: pointer;
}
.settings-box .option-box span.active {
    opacity: 1;
}
.settings-box .reset-options {
    background-color: #F44336;
    border: none;
    width: 178px;
    color: #FFF;
    margin: 10px auto;
    display: block;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
}
/* End Settings Box */

/* Start Nav Bullets */
.nav-bullets {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    z-index: 1001;
}
.nav-bullets .bullet {
    width: 20px;
    height: 20px;
    border: 3px solid var(--main--color);
    margin: 23px auto;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    text-align: center;
}
.nav-bullets .bullet .tooltip{
    background: var(--main--color);
    width: 120px;
    color: #FFF;
    padding: 8px 10px;
    position: absolute;
    right: 34px;
    top: -10px;
    text-align: center;
    cursor: default;
    pointer-events: none;
    display: none;
}
.nav-bullets .bullet:hover .tooltip {
    display: block;
}
.nav-bullets .bullet .tooltip:before {
    content: "";
    border-style: solid;
    border-width: 9px;
    height: 0;
    width: 0;
    position: absolute;
    border-color: transparent transparent transparent var(--main--color);
    right: -18px;
}
/* Start Nav Bullets */

/* Start Landin Page */
.landing-page {
    min-height: 100vh;
    /* background-image: url("../images/p1.png"); */
    background-size: cover;
    position: relative;
}
.landing-page .overlay {
    background-color: rgb(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.landing-page .container {
    position: relative;
    z-index: 1000;
}
.landing-page .header-area {
    position: relative;
    z-index: 2;
    color: #FFF;
    display: flex;
    padding: 10px;
}
.header-area .logo {
    padding: 7px 6px;
    font-weight: bold;
    font-size: 20px;
    /* border: 2px solid var(--main--color); */
    margin-bottom: 14px;
    font-family: 'Nunito', sans-serif;
}
.header-area .link-container {
    width: 100%;
    text-align: right;
}
.header-area .links {
    list-style: none;
    padding-left: 0;
}
.header-area .links li {
    display: inline-block;
    margin-left: 10px;
}
.landing-page .header-area .links li a {
    text-decoration: none;
    color: #FFF;
    transition: .3s;
}
.landing-page .header-area .links li a:hover,
.landing-page .header-area .links li a.active {
    color: var(--main--color);
}
.header-area .toggle-menu {
    background: none;
    border: none;
    width: 40px;
    cursor: pointer;
    margin-top: 15px;
    display: none;
    position: relative;
}
.header-area .toggle-menu span {
    display: block;
    width: 100%;
    background-color: #FFF;
    height: 4px;
    margin-bottom: 4px;
}
.header-area .toggle-menu.menu-active:before {
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #FFF transparent;
    position: absolute;
    bottom: -15px;
    left: 10px;

}
.header-area .toggle-menu:focus{
    outline: none;
}
.landing-page .introduction-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #FFF;
    text-align: center;
    width: 95%;
}
.landing-page .introduction-text h1 {
    font-size: 59px;
    margin: 0 0 12px;
    font-family: 'Nunito', sans-serif;
}
@media (max-width: 575px){
    .introduction-text h1 {
        font-size: 26px;
    }
}
.landing-page .introduction-text P {
    line-height: 1.7;
    font-size: 53px;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}
.landing-page .introduction-text P span{
    color: var(--main--color);
}
@media (max-width: 991px) {
    .header-area .links {
        display: none;
    }
    .header-area .links.open {
        background-color: #FFF;
        padding: 10px;
        display: block;
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        border-radius: 4px;
        text-align: left;
    }
    .header-area .links.open li a {
        color: var(--main--color);
        font-weight: bold;
    }
    .header-area .links.open li{
        display: block;
        margin: 10px;
    }
    .header-area .toggle-menu {
        display: inline-block;
    }
}
/* End Landin Page */

/* Start About US */
.about-us {
    padding: 50px 0;
    display: flex;
}
@media (max-width: 767px){
    .about-us {
        display: block;
        text-align: center;
    }
}
.about-us .info-box {
    flex: 1;
    padding: 30px;
}
@media (max-width: 767px) {
    .about-us .info-box {
    padding: 0;
    }
}
.about-us .info-box h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    margin: 0 0 10px;
}
.about-us .info-box p {
    line-height: 1.8;
    color: #767676;
    margin-bottom: 15px;
}
.about-us .image-box {
    flex: 1;
    text-align: center;
}
.about-us .image-box img {
    width: 322px;
}
/* End About US */
/* Start Our Skills */
.skills {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EEE;
}
.skills h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    margin: 0 0 50px;
    text-align: center;
}


.skills .my-skills{
    display: flex;
}

.skills .skills-main-header{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #333;
    padding: 0 8px 35px;
    height: 35px;
    line-height: 35px;
    text-align: left;
    display: inline-block;
    border-bottom: 3px solid var(--main--color);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.skills .skills-box {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
}

.skills .tec-skills,
.skills .language-skills{
    display: flex;
    margin-bottom: 8px;
}

.skills .tec-skills .right,
.skills .language-skills .right{
    width: 100%;
}

.skills .tec-skills .left,
.skills .language-skills .left{
    width: 100%;
}

.skills .skill-box {
    padding: 15px;
}

@media (max-width: 767px) {
    .skills .skill-box {
        display: block;
    }
}
.skills .skill-box .name {
    font-weight: 700;
    line-height: 19px;
    display: flex;
    margin-bottom: 8px;
}
.skills .skill-box .name .lang {
    width: 100%;
}

@media (max-width: 767px) {
    .skills .skill-box .name {
        width: 100%;
        margin-bottom: 10px;
    }
}
.skills .skill-box .skill-progress {
    height: 12px;
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
}
.skills .skill-box .skill-progress span {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--main--color);
    transition: all .5s;
    color: #FFF;
    text-align: center;
    border-radius: 2px;
}
/* End Our Skills */
/* Start Timeline */
.timeline {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EEE;
    margin-top: 70px;
}
.timeline .timeline-content {
    position: relative;
    overflow: hidden;
}
.timeline .timeline-content:before {
    content: "";
    width: 2px;
    height: 100%;
    background-color: var(--main--color);
    position: absolute;
    left:50%;
    margin-left: -1px;
}
.timeline .timeline-content .year {
    margin: 20px auto;
    width: 122px;
    background-color: var(--main--color);
    color: #FFF;
    position: relative;
    z-index: 2;
    border-radius: 4px;
    text-align: center;
    padding: 2px 5px;
    font-weight: bold;
}
.timeline .timeline-content .left,
.timeline .timeline-content .right {
    margin-bottom: 40px;
    position: relative;
    width: 33%;
    margin: 60px auto;
}
@media (max-width: 767px){
    .timeline .timeline-content .left,
    .timeline .timeline-content .right {
        width: 82%;
        margin-bottom: 20px;
    }
}

.timeline .timeline-content .left:before {
    right: -35px;
}
.timeline .timeline-content .right {
    float: right;
}
.timeline .timeline-content .right:before {
    left: -35px;
}

@media (max-width: 767px) {
    .timeline .timeline-content .left:before,
    .timeline .timeline-content .right:before {
        display: none;
    }
    .timeline .timeline-content .content:before,
    .timeline .timeline-content .content:before {
        display: none;
    }
}

.timeline .timeline-content .content {
    padding: 20px;
    background-color: #FFF;
    border-radius: 14px;
}
.timeline .timeline-content .content h3 {
    font-weight: bold;
    color: var(--main--color);
    margin: 5px 0 10px;
    font-size: 25px;
}
.timeline .timeline-content .content span {
    display: block;
    margin: 7px 0;
    color: #555;
    font-size: 15px;
}
.timeline .timeline-content .content span:nth-child(2){
    font-size: 18px;
    font-weight: 700;
}
.timeline .timeline-content .content span:nth-child(3){
    font-weight: 500;
}
.timeline .timeline-content .content span:nth-child(5){
    margin-top: 19px;
    margin-left: 2px;
    background-color: var(--main--color);
    display: inline-block;
    padding: 4px 9px;
    border-radius: 10px;
    color: #FFF;
    font-weight: 700;
}

.timeline .timeline-content .left .content:before {
    border-color: transparent transparent transparent #FFF;
    right: -20px;
}
.timeline .timeline-content .right .content:before {
    border-color: transparent #FFF transparent transparent;
    left: -20px;

}
/* End Timeline */
/* Start Features */
.features {
    padding:80px 0;
}
.features h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    margin: 0 0 60px;
    text-align: center;
}
.features .feat-box {
    width: calc(100% / 3);
    float: left;
    text-align: center;
    margin-bottom: 40px;
}
@media (max-width: 991px){
    .features .feat-box {
        width: calc(100% / 2);
    }
}
@media (max-width: 575px){
    .features .feat-box {
        width: calc(100% / 2);
    }
}
.features .feat-box img {
    width: 96px;
}
.features .feat-box h4 {
    font-size: 22px;
    margin: 15px 0 40px;
    position: relative;
}
.features .feat-box h4:before  {
    content: "";
    width: 40px;
    height: 4px;
    background-color: var(--main--color);
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: -22px;
}
.features .feat-box p {
    margin: 0 auto;
    width: 80%;
    line-height: 1.7;
    color:#706F6F;
}
/* End Features */
/* Start Resume */

.resume{
    padding-top: 50px;
    padding-bottom: 70px;
    text-align: center;
    margin-top: 151px;
    background-image: url(../images/resume2.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 43px 0 85px;
    position: relative;
}

.resume .header-resume{
    position: relative;
    z-index: 1;
}

.resume .overlay{
    position: absolute;
    left: 0;
    top: 0;
    background: #f2f2f285;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.resume h2{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--main--color);
    margin: -17px 0;
}


.resume p {
    color: #666;
    margin: 45px 0;
    font-size: 18px;
}
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
.resume .download-resume{
    margin-top: 10px;
    width: 300px;
    height: 100px;
    color: var(--main--color);
    border: 2px solid var(--main--color);
    font-size: 20px;
    padding: 13px 28px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;
    transition: ease-out 0.3s;
    position: relative;
    z-index: 1;
}
.resume .download-resume:hover{
    color: #f2f2f2;
}
.resume .download-resume::before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: var(--main--color);

}
.resume .download-resume:hover::before{
    transition: 1s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}
/* End Resume */

/* Start Contact MY */
.contact-my {
    padding: 33px;
    text-align: center;
    background: #e6e5e5;
    font-size: 26px;
}
.contact-my p a{
    width: 300px;
    height: 100px;
    text-decoration: none;
    color: var(--main--color);
    border: 2px solid var(--main--color);
    padding: 16px 10px;
    box-shadow: inset 0 0 0 0 var(--main--color);
    transition: ease-in-out 0.7s;
    border-radius: 5px;
}

.contact-my p a:hover{
    box-shadow: inset 310px 0 0 0 var(--main--color);
    color: #fff;
}
.contact-my .social-media{
    margin-bottom: 42px;
}
.contact-my .social-media a{
    font-size: 50px;
    color: #555;
    transition: all .8s linear;
    margin-right: 11px;
}
.contact-my .social-media a:focus{
    outline: none;
}
.contact-my .social-media a:last-of-type{
    margin: 0;
}

.contact-my .social-media .facebook:hover{
    color: #3A589E;
}
.contact-my .social-media .twitter:hover{
    color: #429CD6;
}
.contact-my .social-media .github:hover{
    color: #333;
}
.contact-my .social-media .linkedin:hover{
    color: #0e76a8;
}

.contact-my h2{
    margin-top: 0;
    margin-bottom: 14px;
    color: #555;
}
.contact {
    min-height: 600px;
    background-image: url("../images/contact.png");
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}
.contact .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    transition: .6s;
}
.contact .container {
    position: relative;
    z-index: 2;
}
.contact h2 {
    font-weight: bold;
    font-size: 40px;
    color: var(--main--color);
    margin: 0 0 60px;
    text-align: center;
    text-transform: uppercase;
}
.contact form {
    overflow: hidden;
    max-width: 800px;
    margin: auto;
}
.contact form .left {
    float: left;
    width: 49%;
}
.contact form .right {
    float: right;
    width: 49%;
}
@media (max-width: 767px) {
    .contact form .right,
    .contact form .left {
        float: none;
        width: 100%;
    }
}
.contact form input:not([type="submit"]),
.contact form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #CCC;
    background-color: rgba(162 146 146 / 19%);
}
.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
    outline: 1px solid var(--main--color);
}
.contact form input {
    height: 40px;
}
.contact form textarea {
    height: 150px;
}
.contact form input[type="submit"] {
    padding: 10px;
    width: 100%;
    border-color: transparent;
    background-color: var(--main--color);
    color: #FFF;
}
.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder {
    opacity: 0;
    transition: .3s;
}
.contact form textarea:focus::-ms-input-placeholder,
.contact form input:not([type="submit"]):focus::-ms-input-placeholder {
    opacity: 0;
    transition: .3s;
}
.contact form textarea:focus::placeholder,
.contact form input:not([type="submit"]):focus::placeholder {
    opacity: 0;
    transition: .3s;
}
/* End Cintact US */
/* start my work */
.my-work{
    background-image: url(../images/work.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 800px;
    position: relative;
    min-height: 600px;
}

.my-work .overlay {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.911);
    width: 100%;
    height: 100%;
}

.my-work .contant{
    position: relative;
}

.my-work .work-box{
    width: 48%;
    overflow: hidden;
    height: 260px;
    box-shadow: 1px 1px 10px #222;
    border-radius: 6px;
    position: relative;
}
.my-work .work-box:nth-child(odd){
    margin-right: 2%;
}

.my-work .work-box .image-project {
    width: 100%;
    height: 100%;
    transition: .8s;
}
.my-work .work-box .image-project img {
    width: 100%;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.my-work .work-box .project-info {
    position: absolute;
    bottom: -100px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(85, 85, 85, 0.7);
    border-top: 1px solid #666;
    transition: .8s;
    color: #fff;
    padding: 20px 30px 10px;
    font-size: 14px;
    text-align: center;
    opacity: 0;
}

.my-work .work-box .project-info .contant {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.my-work .work-box .project-info .contant .header {
    font-size: 25px;
    font-weight: 600;
    padding: 0;
    margin: 0 0 5px;
    font-family: 'Open Sans', sans-serif;
}
.my-work .work-box .project-info .contant .see-project {
    display: inline-block;
    color: var(--main--color);
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    padding: 9px 25px;
    border: 2px solid var(--main--color);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: all .8s ease-in-out;
}
.my-work .work-box .project-info .contant .see-project::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 50%;
    width: 0%;
    height: 108%;
    background-color: var(--main--color);
    transition: all .8s ease-in-out;
}

.my-work .work-box .project-info .contant .see-project:hover{
    color: #fff;
}
.my-work .work-box .project-info .contant .see-project:hover::before{
    width: 102%;
    left: -2px;
}
.my-work .work-box .project-info .contant .see-project .text {
    position: relative;
    z-index: 2;
}
.my-work .work-box .project-info .contant .see-project .action {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 102%;
    height: 108%;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
}

.my-work .work-box:hover .image-project{
    transform: perspective(500px) translate3d(0,0,30px);
}

.my-work .work-box:hover .project-info {
    bottom: 0;
    opacity: 1;
}
/* end my work */
/* Start Footer */
.footer {
    background-color: #333;
    color: #FFF;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
/* End Footer */
/* Start Grid System */
@media (min-width: 360px){
    .container {
        max-width: 350px;
    }
    .contact-my {
        font-size: 18px;
    }
    .men .link {
        left: 45%;
    }
    .top_nav .header-area .logo{
        font-size: 19px;
    }
    .top_nav .header-area .toggle-menue .menu-btn__burger{
        width: 36px;
        height: 3px;
    }
    .top_nav .header-area .toggle-menue .menu-btn__burger::before, .top_nav .header-area .toggle-menue .menu-btn__burger::after{
        width: 36px;
        height: 3px;
    }
    .flex{
        display: block;
    }
    .my-work .work-box{
        width: 100%;
    }
    .skills .tec-skills,
    .skills .language-skills{
        display: block;
    }
    .skills .my-skills{
        display: block;
    }
    .main-header span {
        font-size: 50px;
    }
    .landing-page .introduction-text h1 {
        font-size: 33px;
    }
    .landing-page .introduction-text P {
        font-size: 31px;
    }
    .men .link li a {
        font-size: 54px;
    }
}
@media (min-width: 560px) { /* Smale Devices => Phone */
    .container {
        max-width: 483px;
    }
    .contact-my {
        font-size: 18px;
    }
    .men .link {
        left: 45%;
    }
    .top_nav .header-area .logo{
        font-size: 19px;
    }
    .top_nav .header-area .toggle-menue .menu-btn__burger{
        width: 36px;
        height: 3px;
    }
    .top_nav .header-area .toggle-menue .menu-btn__burger::before, .top_nav .header-area .toggle-menue .menu-btn__burger::after{
        width: 36px;
        height: 3px;
    }
    .flex{
        display: block;
    }
    .my-work .work-box{
        width: 100%;
    }
    .skills .tec-skills,
    .skills .language-skills{
        display: block;
    }
    .skills .my-skills{
        display: block;
    }
    .main-header span {
        font-size: 50px;
    }
    .landing-page .introduction-text h1 {
        font-size: 33px;
    }
    .landing-page .introduction-text P {
        font-size: 31px;
    }
    .men .link li a {
        font-size: 54px;
    }
}
@media (min-width: 768px) { /* medium Devices => Tablets */
    .container {
        max-width: 720px;
    }
    .contact-my {
        font-size: 18px;
    }
    .men .link {
        left: 50%;
    }
    .top_nav .header-area .logo{
        font-size: 23px;
    }
    .top_nav .header-area .toggle-menue .menu-btn__burger{
        width: 42px;
        height: 4px;
    }
    .top_nav .header-area .toggle-menue .menu-btn__burger::before, .top_nav .header-area .toggle-menue .menu-btn__burger::after{
        width: 42px;
        height: 4px;
    }
    .flex{
        display: flex;
    }
    .my-work .work-box{
        width: 48%;
    }
    .skills .tec-skills,
    .skills .language-skills{
        display: flex;
    }
    .skills .my-skills{
        display: block;
    }
    .main-header span {
        font-size: 60px;
    }
    .landing-page .introduction-text h1 {
        font-size: 59px;
    }
    .landing-page .introduction-text P {
        font-size: 53px;
    }
    .men .link li a {
        font-size: 55px;
    }
}
@media (min-width: 992px) { /* Desktops */
    .container {
        max-width: 960px;
    }
    .contact-my{
        font-size: 26px;
    }
    .men .link {
        left: 50%;
    }
    .top_nav .header-area .logo{
        font-size: 23px;
    }
    .top_nav .header-area .toggle-menue .menu-btn__burger{
        width: 42px;
        height: 4px;
    }
    .top_nav .header-area .toggle-menue .menu-btn__burger::before, .top_nav .header-area .toggle-menue .menu-btn__burger::after{
        width: 42px;
        height: 4px;
    }
    .flex{
        display: flex;
    }
    .my-work .work-box{
        width: 48%;
    }
    .skills .tec-skills,
    .skills .language-skills{
        display: flex;
    }
    .skills .my-skills{
        display: flex;
    }
    .main-header span {
        font-size: 60px;
    }
    .landing-page .introduction-text h1 {
        font-size: 59px;
    }
    .landing-page .introduction-text P {
        font-size: 53px;
    }
    .men .link li a {
        font-size: 55px;
    }
}
@media (min-width: 1200px) { /* Large Screens */
    .container {
        max-width: 1140px;
    }
    .contact-my{
        font-size: 26px;
    }
    .men .link {
        left: 50%;
    }
    .top_nav .header-area .logo{
        font-size: 23px;
    }
    .top_nav .header-area .toggle-menue .menu-btn__burger{
        width: 42px;
        height: 4px;
    }
    .top_nav .header-area .toggle-menue .menu-btn__burger::before, .top_nav .header-area .toggle-menue .menu-btn__burger::after{
        width: 42px;
        height: 4px;
    }
    .flex{
        display: flex;
    }
    .my-work .work-box{
        width: 48%;
    }
    .skills .tec-skills,
    .skills .language-skills{
        display: flex;
    }
    .skills .my-skills{
        display: flex;
    }
    .main-header span {
        font-size: 60px;
    }
    .landing-page .introduction-text h1 {
        font-size: 59px;
    }
    .landing-page .introduction-text P {
        font-size: 53px;
    }
    .men .link li a {
        font-size: 55px;
    }
}
/* Start Grid System */